//These are added by Yu-Hsuan Yen
//theme for widget: archive, category, recent-post.
.widget
  color: #bfbfbf
  background: transparent 
  
  a
    color: #bfbfbf
    text-decoration: none
    &:hover
      color: #0085a1
      text-decoration: none
  ul, ol
    ul, ol
      margin-left: 0 10px
      ul
      list-style: disc
      ol
        list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

#avatar_pic
  max-height: 200px
  max-width: 200px