<!-- Table of Contents -->
<% if (page.catalog) { %>
    <% if (is_post()){ %>
      <aside id="sidebar">
        <div id="toc" class="toc-article">
        <strong class="toc-title"><%= __('Contents') %></strong>
        <% if (toc(page.content) != ""){ %>
          <%- toc(page.content, { "class": "toc-nav" }) %>
        <% } else { %>
          <ol class="nav"><%= __('none') %></ol>
        <% } %>
        </div>
      </aside>
    <% } %>
<% } %>