<% if (site.posts.length){ %>
  <h5><%= __('RECENT POSTS') %></h3>
  <div class="widget">
    <ul>
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <li>
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>